Flask
Flask-PyMongo
Flask-Login
Flask-WTF
Flask-Mail
email-validator
Werkzeug
python-dotenv
dnspython
reportlab
requests
qrcode
redis
Flask-Limiter
firebase-admin
pandas
openpyxl
fuzzywuzzy
python-Levenshtein
Pillow
pytesseract
filetype
mongomock
itsdangerous
gunicorn
google-generativeai
